.form {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0;
  gap: 10px;
}

input {
  padding: 5px;
  border-radius: 12px;
  border: 0.5px solid var(--secondary-grey);
}

select {
  padding: 5px;
  border-radius: 12px;
}
