.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueTheme {
  background-color: var(--secondary-blue);
}
.greenTheme {
  background-color: var(--secondary-green);
}
.yellowTheme {
  background-color: var(--secondary-yellow);
}

h1 {
  margin: 0 auto;
  padding: 40px;
}
